.fl-node-5feaa36024e79 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa36024e79 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa36024e79 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4eb71241 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa4eb71241 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa4eb71241 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325c6d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6b325c6d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6b325c6d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325c6d > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f14d3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa413f14d3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa413f14d3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa67859044 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa67859044 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa67859044 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4e562b1c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa4e562b1c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa4e562b1c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6925b71e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6925b71e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6925b71e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6925b71e > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6c491d54 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6c491d54 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6c491d54 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58c83 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa76c58c83 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa76c58c83 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58c83 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d6df .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa7af7d6df .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa7af7d6df .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa797210a4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa797210a4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa797210a4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa8557b03 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa8557b03 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa8557b03 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79ed62a3 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa972203e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa972203e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa972203e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaad04bccd .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaad04bccd .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaad04bccd .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3602908b {width: 35%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3602908e {width: 65%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4eb7a069 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325cb3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b410 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b412 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1570 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1572 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee895 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee897 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c3 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c5 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4e56f321 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa69272392 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc5 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc7 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7c {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7e {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6c491d9e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58cd7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e023 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e025 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d84f {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d851 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79721127 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa8566d5b {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e0 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e5 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e7 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58ea {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa6d91487 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa97220a8 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaad05b9e7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3664e482 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa9399b413 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa413f1573 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa936ee898 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa678590c6 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa6bd1ecc8 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa77b1fe7f > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa6ca9e026 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa7af7d852 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaab08a720b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5feb743f80fe5 > .fl-module-content {margin-top: 10px;margin-bottom: 20px;}