.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fl-row:before, .fl-row:after, .fl-row-content:before, .fl-row-content:after, .fl-col-group:before, .fl-col-group:after, .fl-col:before, .fl-col:after, .fl-module:before, .fl-module:after, .fl-module-content:before, .fl-module-content:after {display: table;content: " ";}
.fl-row:after, .fl-row-content:after, .fl-col-group:after, .fl-col:after, .fl-module:after, .fl-module-content:after {clear: both;}
.fl-row, .fl-row-content, .fl-col-group, .fl-col, .fl-module, .fl-module-content {zoom: 1;}
.fl-clear {clear: both;}
.fl-clearfix:before, .fl-clearfix:after {display: table;content: " ";}
.fl-clearfix:after {clear: both;}
.fl-clearfix {zoom: 1;}
.fl-visible-medium, .fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
.fl-row, .fl-row-content {margin-left: auto;margin-right: auto;}
.fl-row-content-wrap {position: relative;}
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {background-attachment: scroll;}
.fl-row-bg-video, .fl-row-bg-video .fl-row-content {position: relative;}
.fl-row-bg-video .fl-bg-video {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;}
.fl-row-bg-video .fl-bg-video video {bottom: 0;left: 0px;max-width: none;position: absolute;right: 0;top: 0px;}
.fl-row-bg-video .fl-bg-video iframe {pointer-events: none;width: 100vw;height: 56.25vw;max-width: none;min-height: 100vh;min-width: 177.77vh;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.fl-bg-video-fallback {background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;bottom: 0px;left: 0px;position: absolute;right: 0px;top: 0px;}
.fl-row-bg-slideshow, .fl-row-bg-slideshow .fl-row-content {position: relative;}
.fl-row .fl-bg-slideshow {bottom: 0;left: 0;overflow: hidden;position: absolute;right: 0;top: 0;z-index: 0;}
.fl-builder-edit .fl-row .fl-bg-slideshow * {bottom: 0;height: auto !important;left: 0;position: absolute !important;right: 0;top: 0;}
.fl-row-bg-overlay .fl-row-content-wrap:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-row-bg-overlay .fl-row-content {position: relative;z-index: 1;}
.fl-row-full-height .fl-row-content-wrap, .fl-row-custom-height .fl-row-content-wrap {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;min-height: 100vh;}
.fl-row-custom-height .fl-row-content-wrap {min-height: 0;}
.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {min-height: calc(100vh - 48px);}
.fl-row-full-height .fl-row-content, .fl-row-custom-height .fl-row-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-row-full-height .fl-row-full-width.fl-row-content, .fl-row-custom-height .fl-row-full-width.fl-row-content {max-width: 100%;width: 100%;}
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile), .fl-builder-ie-11 .fl-row.fl-row-custom-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {display: flex;flex-direction: column;height: 100%;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content-wrap {height: auto;}
.fl-builder-ie-11 .fl-row-full-height .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height .fl-row-content {flex: 0 0 auto;flex-basis: 100%;margin: 0;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-top .fl-row-content, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content {margin: 0 auto;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height), .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {display: flex;align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-center .fl-row-content-wrap {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {align-items: flex-end;justify-content: flex-end;-webkit-align-items: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-align: end;-ms-flex-pack: end;}
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap, .fl-builder-ie-11 .fl-row-custom-height.fl-row-align-bottom .fl-row-content-wrap {justify-content: flex-start;-webkit-justify-content: flex-start;}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {.fl-row-full-height .fl-row-content-wrap {min-height: 1024px;}}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {.fl-row-full-height .fl-row-content-wrap {min-height: 768px;}}
@media screen and (device-aspect-ratio: 40/71) {.fl-row-full-height .fl-row-content-wrap {min-height: 500px;}}
.fl-col-group-equal-height, .fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.fl-col-group-equal-height {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.fl-col-group-equal-height.fl-col-group-has-child-loading {-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
.fl-col-group-equal-height .fl-col, .fl-col-group-equal-height .fl-col-content {-webkit-box-flex: 1 1 auto;-moz-box-flex: 1 1 auto;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.fl-col-group-equal-height .fl-col-content {-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;flex-shrink: 1;min-width: 1px;max-width: 100%;width: 100%;}
.fl-col-group-equal-height:before, .fl-col-group-equal-height .fl-col:before, .fl-col-group-equal-height .fl-col-content:before, .fl-col-group-equal-height:after, .fl-col-group-equal-height .fl-col:after, .fl-col-group-equal-height .fl-col-content:after {content: none;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {align-items: center;justify-content: center;-webkit-align-items: center;-webkit-box-align: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-align: center;-ms-flex-pack: center;}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {justify-content: flex-end;-webkit-justify-content: flex-end;-webkit-box-align: end;-webkit-box-pack: end;-ms-flex-pack: end;}
.fl-col-group-equal-height.fl-col-group-align-center .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {width: 100%;}
.fl-builder-ie-11 .fl-col-group-equal-height, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col, .fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content, .fl-builder-ie-11 .fl-col-group-equal-height .fl-module, .fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {min-height: 1px;}
.fl-col {float: left;min-height: 1px;}
.fl-col-bg-overlay .fl-col-content {position: relative;}
.fl-col-bg-overlay .fl-col-content:after {border-radius: inherit;content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 0;}
.fl-col-bg-overlay .fl-module {position: relative;z-index: 2;}
.fl-module img {max-width: 100%;}
.fl-builder-module-template {margin: 0 auto;max-width: 1100px;padding: 20px;}
.fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;display: inline-block;font-size: 16px;font-weight: normal;line-height: 18px;padding: 12px 24px;text-decoration: none;text-shadow: none;}
.fl-builder-content .fl-button:hover {text-decoration: none;}
.fl-builder-content .fl-button:active {position: relative;top: 1px;}
.fl-builder-content .fl-button-width-full .fl-button {display: block;text-align: center;}
.fl-builder-content .fl-button-width-custom .fl-button {display: inline-block;text-align: center;max-width: 100%;}
.fl-builder-content .fl-button-left {text-align: left;}
.fl-builder-content .fl-button-center {text-align: center;}
.fl-builder-content .fl-button-right {text-align: right;}
.fl-builder-content .fl-button i {font-size: 1.3em;height: auto;margin-right: 8px;vertical-align: middle;width: auto;}
.fl-builder-content .fl-button i.fl-button-icon-after {margin-left: 8px;margin-right: 0;}
.fl-builder-content .fl-button-has-icon .fl-button-text {vertical-align: middle;}
.fl-icon-wrap {display: inline-block;}
.fl-icon {display: table-cell;vertical-align: middle;}
.fl-icon a {text-decoration: none;}
.fl-icon i {float: left;height: auto;width: auto;}
.fl-icon i:before {border: none !important;height: auto;width: auto;}
.fl-icon-text {display: table-cell;text-align: left;padding-left: 15px;vertical-align: middle;}
.fl-icon-text-empty {display: none;}
.fl-icon-text *:last-child {margin: 0 !important;padding: 0 !important;}
.fl-icon-text a {text-decoration: none;}
.fl-icon-text span {display: block;}
.fl-icon-text span.mce-edit-focus {min-width: 1px;}
.fl-photo {line-height: 0;position: relative;}
.fl-photo-align-left {text-align: left;}
.fl-photo-align-center {text-align: center;}
.fl-photo-align-right {text-align: right;}
.fl-photo-content {display: inline-block;line-height: 0;position: relative;max-width: 100%;}
.fl-photo-img-svg {width: 100%;}
.fl-photo-content img {display: inline;height: auto;max-width: 100%;}
.fl-photo-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.fl-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fl-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}
.fl-photo-caption-hover {background: rgba(0,0,0,.7);bottom: 0;color: #fff;left: 0;opacity: 0;filter: alpha(opacity=0);padding: 10px 15px;position: absolute;right: 0;-webkit-transition: opacity .3s ease-in;-moz-transition: opacity .3s ease-in;transition: opacity .3s ease-in;}
.fl-photo-content:hover .fl-photo-caption-hover {opacity: 100;filter: alpha(opacity=100);}
.fl-builder-pagination, .fl-builder-pagination-load-more {padding: 40px 0;}
.fl-builder-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.fl-builder-pagination li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.fl-builder-pagination li a.page-numbers, .fl-builder-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
.fl-builder-pagination li a.page-numbers:hover, .fl-builder-pagination li span.current {background: #f5f5f5;text-decoration: none;}
.fl-slideshow, .fl-slideshow * {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.fl-slideshow .fl-slideshow-image img {max-width: none !important;}
.fl-slideshow-social {line-height: 0 !important;}
.fl-slideshow-social * {margin: 0 !important;}
.fl-builder-content .bx-wrapper .bx-viewport {background: transparent;border: none;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;left: 0;}
.mfp-wrap button.mfp-arrow, .mfp-wrap button.mfp-arrow:active, .mfp-wrap button.mfp-arrow:hover, .mfp-wrap button.mfp-arrow:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 50%;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus {background: transparent !important;border: none !important;outline: none;position: absolute;top: 0;box-shadow: none !important;-moz-box-shadow: none !important;-webkit-box-shadow: none !important;}
.admin-bar .mfp-wrap .mfp-close, .admin-bar .mfp-wrap .mfp-close:active, .admin-bar .mfp-wrap .mfp-close:hover, .admin-bar .mfp-wrap .mfp-close:focus {top: 32px !important;}
img.mfp-img {padding: 0;}
.mfp-counter {display: none;}
.mfp-wrap .mfp-preloader.fa {font-size: 30px;}
.fl-form-field {margin-bottom: 15px;}
.fl-form-field input.fl-form-error {border-color: #dd6420;}
.fl-form-error-message {clear: both;color: #dd6420;display: none;padding-top: 8px;font-size: 12px;font-weight: lighter;}
.fl-form-button-disabled {opacity: .5;}
.fl-animation {opacity: 0;}
.fl-builder-preview .fl-animation, .fl-builder-edit .fl-animation, .fl-animated {opacity: 1;}
.fl-animated {animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.fl-button.fl-button-icon-animation i {width: 0 !important;opacity: 0;-ms-filter: "alpha(opacity=0)";transition: all .2s ease-out;-webkit-transition: all .2s ease-out;}
.fl-button.fl-button-icon-animation:hover i {opacity: 1 !important;-ms-filter: "alpha(opacity=100)";}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {margin-left: 0px !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {margin-left: 10px !important;}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {margin-right: 0 !important;}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {margin-right: 20px !important;margin-left: -10px;}
.single:not(.woocommerce).single-fl-builder-template .fl-content {width: 100%;}
.fl-builder-layer {position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 0;pointer-events: none;overflow: hidden;}
.fl-builder-shape-layer {z-index: 0;}
.fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer {z-index: 1;}
.fl-row-bg-overlay .fl-builder-shape-layer.fl-builder-bottom-edge-layer {z-index: 2;}
.fl-row-has-layers .fl-row-content {z-index: 1;}
.fl-row-bg-overlay .fl-row-content {z-index: 2;}
.fl-builder-layer > * {display: block;position: absolute;top: 0;left: 0;width: 100%;}
.fl-builder-layer + .fl-row-content {position: relative;}
.fl-builder-layer .fl-shape {fill: #aaa;stroke: none;stroke-width: 0;width: 100%;}
.fl-row-content-wrap {margin: 0px;}
.fl-row-content-wrap {padding: 20px;}
.fl-row-fixed-width {max-width: 1100px;}
.fl-module-content {margin: 20px;}
@media (max-width: 992px) {.fl-visible-desktop, .fl-visible-mobile, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: none;}
	.fl-visible-desktop-medium, .fl-visible-medium, .fl-visible-medium-mobile, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col, .fl-col-group .fl-visible-medium-mobile.fl-col {display: block;}}
@media (max-width: 768px) {.fl-visible-desktop, .fl-visible-desktop-medium, .fl-visible-medium, .fl-col-group .fl-visible-desktop.fl-col, .fl-col-group .fl-visible-desktop-medium.fl-col, .fl-col-group .fl-visible-medium.fl-col {display: none;}
	.fl-visible-medium-mobile, .fl-visible-mobile, .fl-col-group .fl-visible-medium-mobile.fl-col, .fl-col-group .fl-visible-mobile.fl-col {display: block;}
	.fl-row-content-wrap {background-attachment: scroll !important;}
	.fl-row-bg-parallax .fl-row-content-wrap {background-attachment: scroll !important;background-position: center center !important;}
	.fl-col-group.fl-col-group-equal-height {display: block;}
	.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
	.fl-col-group.fl-col-group-responsive-reversed {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -moz-flex;display: -webkit-flex;display: flex;flex-flow: row wrap;-ms-box-orient: horizontal;-webkit-flex-flow: row wrap;}
	.fl-col-group.fl-col-group-responsive-reversed .fl-col {-webkit-box-flex: 0 0 100%;-moz-box-flex: 0 0 100%;-webkit-flex: 0 0 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {-webkit-box-ordinal-group: 12;-moz-box-ordinal-group: 12;-ms-flex-order: 12;-webkit-order: 12;order: 12;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {-webkit-box-ordinal-group: 11;-moz-box-ordinal-group: 11;-ms-flex-order: 11;-webkit-order: 11;order: 11;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {-webkit-box-ordinal-group: 10;-moz-box-ordinal-group: 10;-ms-flex-order: 10;-webkit-order: 10;order: 10;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {-webkit-box-ordinal-group: 9;-moz-box-ordinal-group: 9;-ms-flex-order: 9;-webkit-order: 9;order: 9;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {-webkit-box-ordinal-group: 8;-moz-box-ordinal-group: 8;-ms-flex-order: 8;-webkit-order: 8;order: 8;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {-webkit-box-ordinal-group: 7;-moz-box-ordinal-group: 7;-ms-flex-order: 7;-webkit-order: 7;order: 7;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {-webkit-box-ordinal-group: 6;-moz-box-ordinal-group: 6;-ms-flex-order: 6;-webkit-order: 6;order: 6;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {-webkit-box-ordinal-group: 5;-moz-box-ordinal-group: 5;-ms-flex-order: 5;-webkit-order: 5;order: 5;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {-webkit-box-ordinal-group: 4;-moz-box-ordinal-group: 4;-ms-flex-order: 4;-webkit-order: 4;order: 4;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {-webkit-box-ordinal-group: 3;-moz-box-ordinal-group: 3;-ms-flex-order: 3;-webkit-order: 3;order: 3;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {-webkit-box-ordinal-group: 2;-moz-box-ordinal-group: 2;-ms-flex-order: 2;-webkit-order: 2;order: 2;}
	.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {-webkit-box-ordinal-group: 1;-moz-box-ordinal-group: 1;-ms-flex-order: 1;-webkit-order: 1;order: 1;}
	.fl-col {clear: both;float: none;margin-left: auto;margin-right: auto;width: auto !important;}
	.fl-col-small {max-width: 400px;}
	.fl-block-col-resize {display: none;}
	.fl-row[data-node] .fl-row-content-wrap {margin: 0;padding-left: 0;padding-right: 0;}
	.fl-row[data-node] .fl-bg-video, .fl-row[data-node] .fl-bg-slideshow {left: 0;right: 0;}
	.fl-col[data-node] .fl-col-content {margin: 0;padding-left: 0;padding-right: 0;}}
.page .fl-post-header, .single-fl-builder-template .fl-post-header {display: none;}
.fl-node-5feaa36024e79 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa36024e79 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa36024e79 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4eb71241 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa4eb71241 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa4eb71241 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325c6d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6b325c6d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6b325c6d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325c6d > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa9399b2d4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f14d3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa413f14d3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa413f14d3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa936ee7f6 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa67859044 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa67859044 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa67859044 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4e562b1c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa4e562b1c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa4e562b1c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6925b71e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6925b71e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6925b71e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6925b71e > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6bd1ec3d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa77b1fde1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6c491d54 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6c491d54 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6c491d54 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58c83 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa76c58c83 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa76c58c83 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58c83 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa6ca9df82 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d6df .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa7af7d6df .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa7af7d6df .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa797210a4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa797210a4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa797210a4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa8557b03 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa8557b03 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa8557b03 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaa79ed62a3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79ed62a3 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa6d913f4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa972203e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaa972203e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaa972203e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaad04bccd .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5feaaad04bccd .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5feaaad04bccd .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3602908b {width: 35%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3602908e {width: 65%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4eb7a069 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325cb3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b410 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b412 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1570 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1572 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee895 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee897 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c3 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c5 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4e56f321 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa69272392 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc5 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc7 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7c {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7e {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6c491d9e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58cd7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e023 {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e025 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d84f {width: 20%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d851 {width: 80%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79721127 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa8566d5b {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e0 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e5 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58e7 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7c0d58ea {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa6d91487 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa97220a8 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaad05b9e7 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
img.mfp-img {padding-bottom: 40px !important;}
@media (max-width: 768px) {.fl-photo-content {width: 100%;}}
.fl-node-5feaa39727bd1 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-module-heading .fl-heading {padding: 0 !important;margin: 0 !important;}
.fl-node-5feaa3664e482.fl-module-heading .fl-heading {font-size: 30px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3664e482 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa37c301dc .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa3f2e0a86 .fl-separator {border-top: 1px solid #ccc;max-width: 33%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6b325cb4.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b411 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa9399b413 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa9399b414 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1571 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa413f1573 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa413f1574 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee896 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa936ee898 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa936ee899 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c4 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa678590c6 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa678590c7 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa4dc5dd95 .fl-separator {border-top: 1px solid #ccc;max-width: 33%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6925b34c.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc6 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6bd1ecc8 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa6bd1ecc9 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7d .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa77b1fe7f > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa77b1fe80 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6c491d9f .fl-separator {border-top: 1px solid #ccc;max-width: 33%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa76c58cd8.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e024 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa6ca9e026 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5feaa6ca9e027 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d850 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7af7d852 > .fl-module-content {margin-bottom: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaab08a720b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feb743f80fe5 > .fl-module-content {margin-top: 10px;margin-bottom: 20px;}
.fl-node-5feaa7af7d853 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79721128 .fl-separator {border-top: 1px solid #ccc;max-width: 33%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa79ed62fc.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa8661796e .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa7f527bbf .fl-rich-text, .fl-node-5feaa7f527bbf .fl-rich-text * {text-align: center;}
.fl-node-5feaa7f527bbf .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa87c774be .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa80909fa9 .fl-rich-text, .fl-node-5feaa80909fa9 .fl-rich-text * {text-align: center;}
.fl-node-5feaa80909fa9 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa89837b17 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa80d92da5 .fl-rich-text, .fl-node-5feaa80d92da5 .fl-rich-text * {text-align: center;}
.fl-node-5feaa80d92da5 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa8b0556a2 .fl-photo {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaa810e00db .fl-rich-text, .fl-node-5feaa810e00db .fl-rich-text * {text-align: center;}
.fl-node-5feaa810e00db .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa6d91488 .fl-separator {border-top: 1px solid #ccc;max-width: 33%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5feaaa97220a9.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-input-group {margin-bottom: 10px;position: relative;}
.fl-contact-form textarea, .fl-contact-form input[type=text], .fl-contact-form input[type=tel], .fl-contact-form input[type=email] {display: inline-block;width: 100%;}
.fl-contact-form textarea {min-height: 130px;}
.fl-contact-form .fl-terms-checkbox input[type="checkbox"] {height: 23px;width: 23px;margin: 0;position: absolute;left: -2px;top: 1px;}
.fl-contact-form .fl-terms-checkbox label {height: 26px;display: table-cell;vertical-align: middle;position: relative;padding-left: 35px;}
.fl-contact-form .fl-terms-checkbox-text {margin: 10px 0;}
.fl-contact-form .fl-contact-required {font-style: italic;font-size: 12px;}
.fl-contact-form label {display: inline-block;margin-right: 10px;}
.fl-contact-form .fl-contact-error {color: #dd4420;display: none;font-size: 12px;font-weight: lighter;margin-top: 2px;}
.fl-contact-form .fl-email .fl-contact-error {margin-right: 10%;}
.fl-contact-form .fl-error textarea, .fl-contact-form .fl-error input[type=text], .fl-contact-form .fl-error input[type=tel], .fl-contact-form .fl-error input[type=email] {border-color: #dd4420;}
.fl-contact-form .fl-error .fl-contact-error {display: inline-block;}
.fl-contact-form .fl-send-error, .fl-contact-form .fl-success, .fl-contact-form .fl-success-none, .fl-contact-form .fl-success-msg {position: relative;top: 5px;}
.fl-contact-form .fl-success, .fl-contact-form .fl-success-none, .fl-contact-form .fl-success-msg {color: #29bb41;}
.fl-contact-form .fl-send-error {color: #dd6420;}
.fl-disabled {opacity: .5;}
.fl-node-5feaaad04aee4 .fl-button-wrap {text-align: left;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}